.sign-in-and-sign-up {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: 5rem auto;

    @media (max-width: 1300px) {
        width: 90vw;
    }

    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}